<div class="main-currency-page">
  <h2>Currency Converter</h2>
  <div class="currency-block">
    <input (ngModelChange)="convert()" [(ngModel)]="amountToConvert" type="number">
    <select (ngModelChange)="convert()" [(ngModel)]="fromCurrency">
      <option *ngFor="let currency of currencies" [value]="currency.code">{{ currency.code }}</option>
    </select>
  </div>
  <button (click)="swapCurrencies()" class="swap-btn ">Swap Currencies</button>
  <div class="currency-block">
    <input (ngModelChange)="convert()" [(ngModel)]="convertedAmount" type="number">
    <select (ngModelChange)="convert()" [(ngModel)]="toCurrency">
      <option *ngFor="let currency of currencies" [value]="currency.code">{{ currency.code }}</option>
    </select>
  </div>
</div>
